*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    transition: 0.5s;
    color: var(--black01--);
}

body, html{
    max-width: 100dvw;
    width: 100%;
    background-color: var(--white02--);
    overflow: auto;
}

:root{
    font-size: 62.5%;
    --black01--: #000;
    --gray01--: #D9D9D9;
    --gray02--: #282727;
    --white01--: #f2f2f2;
    --white02--: #f2f2f2;
    --blue01--: #0047f9;
    --blue02--: #0074f9;
}

.darkModeTheme{
    --black01--: #f2f2f2;
    --gray01--: #292929;
    --gray02--: #141414;
    --white01--: #000;
    --white02--: #1f1f1f;
    --blue01--: #0047f9;
}

.principalHeader{
    background-color: var(--gray01--);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 .3rem .8rem #000;

    .headerContent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 102.4rem;
        padding: 1rem 1.5rem;
    }

    .headerContent{
        .logoName{
            font-size: 2rem;
            font-weight: 800;

            strong{
                color: var(--blue01--);
                font-weight:900;
                font-size: 3rem;
            }
        }
        .headerSections{
            display: flex;
            gap: 3.8rem;
            font-size: 1.6rem;
            font-weight: 600;

            a{
                text-decoration: none;
                color: var(--black01--);
                display: flex;
                flex-direction: column;
            }

            a span{
                width: 100%;
                height: 0.2rem;
                background-color: var(--blue01--);
                transform: translate(0,-.3rem);
                border-radius: 0.8rem;
            }
        }
        .accessibilitySection{
            display: flex;
            /* width: 100%;
            max-width: 21.2rem; */
            justify-content: center;
            gap: 1rem;
            align-items: center;

            .toggleTheme{
                background-color: var(--gray02--);
                width: 6.8rem;
                height: 3.5rem;
                border-radius: 0.8rem;
                padding: 0.4rem;
                display: flex;
                align-items: center;
                justify-content: left;

                i{
                    background-color: var(--gray01--);
                    height: 100%;
                    width: 3rem;
                    border-radius: 0.8rem;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    cursor: pointer;

                    animation-name: toggleThemeAnimationReverse;
                    animation-timing-function: linear;
                    animation-duration: 0.3s;
                    animation-fill-mode: both;
                    animation-direction: alternate;
                }
            }
        }
    }
}

.content{
    width: 100%;
    display: flex;
    max-width: 1024px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding: 8rem 5rem;
    background-color: var(--gray01--);
    box-shadow: 0 0 .8rem #000;

    .apresentation{
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin: 5rem 0;

        .aboutMe{
            width: 100%;
            max-width: 60rem;
            display: flex;
            flex-direction: column;

            h1{
                font-size: 2.2rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            p{
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            .seeMyProjectsBtn{
                margin: 0 auto;
                padding: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;
            }
        }

        img{
            width: 25rem;
            height: 25rem;
            background-color: var(--gray02--);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 2px solid;
            outline-color: var(--black01--);
            box-shadow: 0 0 10px 3px black;
        }
    }

    .projects{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 2rem;
            margin: 0.2rem 2rem;
        }
        .scrollProjects{
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            border-radius: .8rem;
            padding: .5rem 1rem;

            .cardProject{
                width: 26rem;
                height: 18rem;
                background-color: var(--white02--);
                display: inline-block;
                border-radius: .8rem;
                border: 1px solid var(--gray02--);
                overflow: hidden;
                cursor: pointer;
                margin-right: 1rem;

                animation-name: appear ;
                animation-duration: 0.5s;
                animation-timing-function: linear;
                animation-fill-mode: backwards;

                img{
                    width: 100%;
                    background-color: blue;
                    height: 14rem;
                }

                h3{
                    margin-left: 0.5rem;
                    font-size: 1.4rem;
                    display: flex;
                    align-items: center;
                    
                    span{
                        background-color: var(--blue01--);
                        width: .5rem;
                        height: .5rem;
                        border-radius: 50%;
                        margin-right: 0.2rem;
                    }
                }
            }

            .cardProject:hover{
                transform: scale(1.02);
            }
        }
    }
}

.casualBtn {
    background-color: var(--blue01--);
    padding: 0.5rem 1rem;
    color: #f2f2f2;
    border: none;
    border-radius: 0.8rem;
    height: 3rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

.casualBtn:hover{
    transform: scale(1.02);
    background-color: var(--blue02--);
    box-shadow: 0 0 10px 1px var(--blue02--);
}

/* Card Expandido */
.bodyCardExpanded{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000050;

    animation-name: appear ;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:both;

    .cardExpanded{
        position: relative;
        max-width: 80rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--white02--);
        padding: 2rem;
        border-radius: 1.6rem;
        box-shadow: 0 0 10px 2px #000;

        animation-name: appear ;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode:both;

        h3{
            font-size: 1.8rem;
            margin: 0 auto 1rem;
        }

        img{
            box-shadow: 0 0 5px 1px #000; 
            border-radius: .8rem;
        }

        p{
            font-size: 1.6rem;
        }

        .cardTechnologies{
            display: flex;
            gap: 5px;
            margin-top: .5rem;

            *{
                padding: .1rem .4rem;
                border-radius: .8rem;
            }

            .JavaScriptClass{
                background-color: #fffb00;
                color: black;
            }

            .HtmlClass{
                background-color: #ff1e00;
                color: white;
            }

            .CssClass{
                background-color: #009ef9;
                color: white;
            }
        }

        .cardTechnologies::before{
            content: "Tecnologias";
            font-size: 1.7rem;
            font-weight: 600;
        }

        .fa-x{
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
            font-size: 1.6rem;
            color: var(--black01--);
        }
        .fa-x:hover{
            color: red;
            transform: rotate(180deg);
        }
    }
}



/* Melhorando o visual do Scroll */
::-webkit-scrollbar{
    width: 0.75rem;
    height: 0.75rem;
    display: flex;
}

::-webkit-scrollbar-track{
    border-radius: 1.6rem;
    outline: 0.2rem solid var(--gray02--);
}

::-webkit-scrollbar-track-piece{
    background-color: var(--gray02--);
}

::-webkit-scrollbar-thumb{
    background-color: #f2f2f2;
    border-radius: 1.6rem;
    height: 0.75rem;
    width: 0.75rem;
}

/* Keyframes */
@keyframes toggleThemeAnimation {
    from{

    }
    to{
        transform: translateX(100%);
    }
}

@keyframes toggleThemeAnimationReverse {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(2rem);
    }
    50%{
        opacity: 0.5;
        transform: translateY(-0.1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes desappear {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-2rem);
    }
}